:root {


  /* HEX ALPHA 
	 * 100% — FF
	 * 95% — F2
	 * 90% — E6
	 * 85% — D9
	 * 80% — CC
	 * 75% — BF
	 * 70% — B3
	 * 65% — A6
	 * 60% — 99
	 * 55% — 8C
	 * 50% — 80
	 * 45% — 73
	 * 40% — 66
	 * 35% — 59
	 * 30% — 4D
	 * 25% — 40
	 * 20% — 33
	 * 15% — 26
	 * 10% — 1A
	 * 5% — 0D
	 * 0% — 00
	 */

	/* Clear Arctic Seas - Varium@Coolors*/
	/*
	--col-bkg:   rgba(122, 183, 193, 1);
	--col-txt:   white;

	--col-main-light: rgba(101, 149, 163, .7); 
	--col-main: rgba(83, 117, 130, .7);
	--col-main-dark: rgba(53, 74, 84, .7);
	
	--col-spec:  rgba(36, 48, 53, 1);
  */

  /* Grey colors */
	--col-bkg:        rgba(204, 238, 255, 1);      
	--col-txt:        white;

	--col-main-light: rgba(51, 51, 102, 0.7);
	--col-main:       rgba(34, 34, 68, 0.7);
	--col-main-dark:  rgba(17, 17, 34, 0.7);

	--col-spec:       rgba(0, 0, 17, 0.7);





}

body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }


body { 
  font-family: "Futura", "Arial Black", Gadget, sans-serif; /*Arial, Helvetica, sans-serif; */
}

a:link, a:visited {
	color: var(--col-spec);
  text-decoration: underline;
	cursor: auto; 
}

a:link:hover, a:visited:hover {
	color: var(--col-spec);
  text-decoration: underline;
	/*font-style: italic;*/ /*va rimosso dal menu*/
	cursor: auto; 
}

a:active:link, a:active:visited {
	color: var(--col-spec);
  text-decoration: underline;
	cursor: auto; 
}

b {
  color: rgb(255, 253, 187);
}


.clearfix {
	overflow: auto;
}

.container {
	width: 100%;
	margin: 0 auto ;
}

.clearlist {
  list-style: none;
}

.clearlist li a {
	text-decoration: none;
}

.indent {
	padding-left: 20px;
}

.bulletlist {
  list-style-type: circle;
	margin-left: 22px;
}


 

.compact {
	margin: 0;
	padding: 0;
}


.menu {
  background: var(--col-main-light);
	color: var(--col-txt);
}

.typeA {
	width: 50%;
	float: left;
	padding: 10px;
	position: relative;
	background: var(--col-main);
	color: var(--col-txt);
}

.typeB {
	width: 50%;
	float: right;
	padding: 10px;
	position: relative;
	background: var(--col-main-dark);
	color: var(--col-txt);
}

.special {
	background: var(--col-spec);
	color: var(--col-txt);
}

.popup {
	width: 55%;
	border-style: dotted;
	border-color: var(--col-txt);
	border-width: 1px;
	background: var(--col-txt);
  color: var(--col-spec);
	position: absolute;
	top: 10px;
	left: 250px;
}

.popup p {
  margin: 5px;
	padding: 5px;
}





#body {
	padding: 10px;
	/* padding-bottom: 150px; */
}

#footer {
  position: absolute;
	/* height: 150px; */
	width: 100%;
}


#main .container {
  background: var(--col-bkg);
}

#logo {
	background: var(--col-spec);
	color: var(--col-txt);
	float: left;
	width: 100%;
}

#logo h1 {
	padding: 10px;
}


#tagline {
 	float: left;
	padding: 40px 0 0 0;
}

div.menu {
	margin: auto; 
  width: 50%;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	float: left;
	padding: 20px;
  background: var(--col-main-light);
	color: var(--col-txt);
	margin: 2px;
}

.menu ul li:hover {
	float: left;
	padding: 20px;
  background: var(--col-txt);
	color: var(--col-main-light);
	margin: 2px;
}

.menu ul li a {
  text-decoration: none;
}


#content {
	padding: 20px;
  float: left;
	color: var(--col-txt);
}


.par1 { 
}

.par2 {
	top: -12px;
}

.par3 {
	top: -24px;
}

.par4 {
	top: -36px;
}

.par5 {
	top: -48px;
}





#sidebar {
	float: left;
	width: 10%;
}

#sidebar ul li {
	list-style: none;
	background: var(--col-main);
	color: var(--col-txt);
	/*padding: 20px;
	margin: 2px;*/
}



#footer .container {
	background: #b5b5b5;
}

.popup-parent {
	width: 200px;
}

.popup-parent .popup {
  display: none;
}

/*
.popup-parent:hover .popup {
  display: block;
}
*/

.popup-container {
	float: left;
	width: 55%;
	border-style: dotted;
	border-color: var(--col-txt);
	border-width: 1px;
	background: var(--col-txt);
  color: var(--col-spec);
	position: absolute;
	z-index: 10;
	top: 10px;
	left: 250px;
	visibility: hidden;
}

.popup-container p {
  margin: 5px;
	padding: 5px;
}









