/* INDEX */
/* 1 - colors
 * 2 - font
 * 3 - dimensions and positions
 * 4 - style
 * 5 - behaviour
 */





/* * * * * * * *
 * 1 - Colors  *
 * * * * * * * */
:root {


	/* images blended with 241f16ff*/
  --col-bkg:     rgb(36,31,22);
  --col-bkg-header:   rgb(56,36,1);



}



/* * * * * * *
 * 2 - Font  *
 * * * * * * */
body {
	font-family: Arial, Helvetica, sans-serif;
}


/* * * * * * * * * * * * * * * *
 * 3- Dimensions and positions *
 * * * * * * * * * * * * * * * */
body, div, a, ul, li, p, img, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	background: var(--col-bkg);
}

.container {
	margin: auto;
	width:80%;
	background: darkgrey;
}


/* .menu */
.menu {
  width: 100%;
}

.menu ul {
	list-style-type: none;
}

.menu li {
	width: 33.333%;
	width: calc( 100% /3 );
	float: left;
	text-align: center;
	margin: auto;
	text-decoration: none;

}

.photo-button {
	position: relative;
	background: var(--col-bkg);
}

.photo-button img {
	width: 100%;
	opacity: .5;
}


.photo-button h2 {
	position: absolute;
	top: 30%;
	
	z-index: 10;
	padding: 1%;
	background: rgba(255,255,255,.4);
}








/* #abstract */
#abstract {
	margin: auto;
	width: 100%;
}

#abstract img {
	width: 100%;
	background-repeat: none;
	position: relative;
}

#abstract p {
  padding: 1%;
	position: absolute;
	padding: 1%;
}

#michiamo {
	top: 15%;
	left: 28%;
	width: 40%;
}

#contatti {
	top: 35%;
	left: 36%;
}

#chelavoro {
	top: 55%;
	left: 28%;
	width: 40%;
}

#cosaoffro {
	top: 75%;
	left: 28%;
	width: 40%;
}

/*#content*/
#content {
	margin: auto;
	width: 100%;
	background: darkgrey;
}

#content p {
	padding: 0;
}

#content ul {
	list-style: none;
	list-style-type: circle;
}

#content ul li {
	margin-left: ;
}

/* popups */

.click-content {
  width: 50%;
	float: left;
}

.informations {
  display: none;
}

.popup-container {
	width: 50%;
  float: left;
}





/* * * * * * *
 * 4 - Style *
 * * * * * * */

#header {
	background: var(--col-bkg-header);
}

#abstract p {
	background: rgba(255,255,255,0.5);
}







/* * * * * * * * *
 * 5 - Behaviour *
 * * * * * * * * */

.popup-parent .popup {
	display: none;
}

































